[Unit]
Description=radio_manager
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=%i
ExecStart=/usr/bin/python3 -u /home/pi/internet_radio/radio_manager.py

[Install]
WantedBy=multi-user.target
